Datos/obj/Debug/netstandard2.0/Datos.assets.cache
Datos/obj/Debug/netstandard2.0/Datos.csprojAssemblyReference.cache
Entity/obj/Debug/netstandard2.0/Entity.assets.cache
Entity/obj/Debug/netstandard2.0/Entity.assets.cache
Logica/obj/Debug/netstandard2.0/Logica.assets.cache
Logica/obj/Debug/netstandard2.0/Logica.csprojAssemblyReference.cache
Datos/obj/Debug/netstandard2.0/Datos.assets.cache
Datos/obj/Debug/netstandard2.0/Datos.csprojAssemblyReference.cache
Entity/obj/Debug/netstandard2.0/Entity.assets.cache
Entity/obj/Debug/netstandard2.0/Entity.csprojAssemblyReference.cache
Logica/obj/Debug/netstandard2.0/Logica.assets.cache
Logica/obj/Debug/netstandard2.0/Logica.csprojAssemblyReference.cache
Presentacion/appsettings.json
*.cache
*.cache
