<div class="contenedor">
  <div class="row">
    <div class="col-6" ALIGN="justify">
      <p><FONT FACE= "Roboto Helvetica Arial sans-serif" FONT size="6"  FONT COLOR=#030935>Logistica Educativa del Sinú.</FONT>
      <p><FONT FACE= "Roboto Helvetica Arial sans-serif" FONT size="4">¿QUÍENES SOMOS?</FONT>
      <p><FONT FACE= "Roboto Helvetica Arial sans-serif" FONT-weight:300>
        Somos una organización dedicada a planificar y ejecutar actividades relacionadas
        con montaje de talleres, congresos, seminarios, movilidades académicas y todo lo
        relacionados con el desarrollo de actividades extracurriculares.
      </FONT>
      
      <p><FONT FACE= "Roboto Helvetica Arial sans-serif" FONT COLOR=#030935 >
        Nuestro principal servicio es la organización de movilidades académicas nacional e
        Internacional, entiéndase movilidad académica como ese viaje especializado que
        tiene un alto contenido educativo, para complementar lo visto en el aula de clases
        y que a través de la experiencia con el mundo exterior, es una oportunidad que sirve
        para explorar de primera mano con sitios previamente elegidos un ambiente de aprendizaje.
      </FONT>
    </div>
    <div class="col-6">
      <!--<div class="card-header card-header-warning ">-->
        <img class="img-fluid rounded" src="../../assets/inicio01 (2).jpg">
      <!--</div>-->
    </div>
    <!-- <div class="col-6">
      <img class="img-fluid rounded" src="../../assets/inicio01 (2).jpg">
    </div>-->
  </div>
  <hr>
  <div ALIGN="justify">
    <p class="text-center"><FONT FACE= "Roboto Helvetica Arial sans-serif" FONT size="4" FONT COLOR=#030935>A que nos dedicamos?</FONT>
    <p><FONT FACE= "Roboto Helvetica Arial sans-serif" FONT-weight="300">Logística Educativa del Sinú es una organización dedicada a prestar servicios para la planeación y ejecución de
      actividades académicas como talleres, congresos, seminarios, movilidades y todo lo relacionados con
      el desarrollo de actividades extracurriculares que favorezcan el aprendizaje a través de la experiencia.
    </FONT>

  </div>
  <div class="container">
    <div  >
      <p class="text-center"><FONT FACE= "Roboto Helvetica Arial sans-serif"  FONT COLOR=#030935 FONT size="6">
        Nuestros Servicios.
      </FONT>
    </div>
    
  </div>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="card card-chart">
            <div class="card-header card-header-warning">
              <img class="img-fluid rounded" src="../../assets/seminario1.jpg">
            </div>
            <div class="card-body">
              <h4 class="card-title">Seminarios</h4>
              <p class="card-category">Se realiza la planeación y ejecución de seminarios para todas
                las áreas de formación.
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card card-chart">
            <div class="card-header card-header-warning">
              <img class="img-fluid rounded" src="../../assets/taller.jpg">
            </div>
            <div class="card-body">
              <h4 class="card-title">Talleres</h4>
              <p class="card-category">Préstamos el servicio de montaje y ejecución de
                talleres teóricos y prácticos.
            </div>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="card card-chart">
            <div class="card-header card-header-warning">
              <img class="img-fluid rounded" src="../../assets/congreso1.jpg">
            </div>
            <div class="card-body">
              <h4 class="card-title">Congresos</h4>
              <p class="card-category">Planeamos y ejecutamos congresos con ponentes nacionales e
                internacionales en todas las áreas de formación.
            </div>
          </div>
        </div>


        <div class="col-md-6">
          <div class="card card-chart">
            <div class="card-header card-header-warning">
              <img class="img-fluid rounded" src="../../assets/movilidad.jpg">
            </div>
            <div class="card-body">
              <h4 class="card-title">Movilidades Académicas nacionales e internacionales</h4>
              <p class="card-category">Ofrecemos servicios todo incluido para la realización
                de misiones académicas, así mismo planeamos las visitas técnicas según su requerimiento.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <style>
    .card-header {
      background-color: rgb(159, 20, 22)
    }
    #servicio{
      background-color:rgb(1, 1, 36);
      box-shadow: rgba(34, 34, 34, 0.315);
      width: 400PX;
      background-position:initial center;
    }
  </style>
</div>