<div>
  <h1 >Logistica Educativa del Sinú.</h1>
  <h3>¿QUÍENES SOMOS?</h3>
<p>Somos una organización dedicada a planificar y ejecutar actividades relacionadas
  con montaje de talleres, congresos, seminarios, movilidades académicas y todo lo
  relacionados con el desarrollo de actividades extracurriculares.
  </p>
<p>Nuestro principal servicio es la organización de movilidades académicas nacional e
  Internacional, entiéndase movilidad académica como ese viaje especializado que
  tiene un alto contenido educativo, para complementar lo visto en el aula de clases
  y que a través de la experiencia con el mundo exterior, es una oportunidad que sirve para explorar de primera mano con sitios previamente elegidos un ambiente de
  aprendizaje.</p>
</div>


