<div class="contenedor">
  <div class="row">
    <div class="col-6">
      <h3>Logistica Educativa del Sinú.</h3>
      <h4>¿QUÍENES SOMOS?</h4>
      <p>Somos una organización dedicada a planificar y ejecutar actividades relacionadas
        con montaje de talleres, congresos, seminarios, movilidades académicas y todo lo
        relacionados con el desarrollo de actividades extracurriculares.
      </p>
      <p>Nuestro principal servicio es la organización de movilidades académicas nacional e
        Internacional, entiéndase movilidad académica como ese viaje especializado que
        tiene un alto contenido educativo, para complementar lo visto en el aula de clases
        y que a través de la experiencia con el mundo exterior, es una oportunidad que sirve
        para explorar de primera mano con sitios previamente elegidos un ambiente de aprendizaje.</p>
    </div>
    <div class="col-6">
      <div class="card-header card-header-warning ">
        <img class="img-fluid rounded" src="../../assets/inicio01 (2).jpg">
      </div>
    </div>
    <!-- <div class="col-6">
      <img class="img-fluid rounded" src="../../assets/inicio01 (2).jpg">
    </div>-->
  </div>
  <div>
    <h4>A que nos dedicamos?</h4>
    <p>
      Logística Educativa del Sinú es una organización dedicada a prestar servicios para la planeación y ejecución de
      actividades académicas como talleres, congresos, seminarios, movilidades y todo lo relacionados con
      el desarrollo de actividades extracurriculares que favorezcan el aprendizaje a través de la experiencia.
    </p>
  </div>
  <div>
    <h3>Nuestros Servicios</h3>
  </div>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="card card-chart">
            <div class="card-header card-header-warning">
              <img class="img-fluid rounded" src="../../assets/seminario1.jpg">
            </div>
            <div class="card-body">
              <h4 class="card-title">Seminarios</h4>
              <p class="card-category">Se realiza la planeación y ejecución de seminarios para todas
                las áreas de formación.
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card card-chart">
            <div class="card-header card-header-warning">
              <img class="img-fluid rounded" src="../../assets/taller.jpg">
            </div>
            <div class="card-body">
              <h4 class="card-title">Talleres</h4>
              <p class="card-category">Préstamos el servicio de montaje y ejecución de
                talleres teóricos y prácticos.
            </div>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="card card-chart">
            <div class="card-header card-header-warning">
              <img class="img-fluid rounded" src="../../assets/congreso1.jpg">
            </div>
            <div class="card-body">
              <h4 class="card-title">Congresos</h4>
              <p class="card-category">Planeamos y ejecutamos congresos con ponentes nacionales e
                internacionales en todas las áreas de formación.
            </div>
          </div>
        </div>


        <div class="col-md-6">
          <div class="card card-chart">
            <div class="card-header card-header-warning">
              <img class="img-fluid rounded" src="../../assets/movilidad.jpg">
            </div>
            <div class="card-body">
              <h4 class="card-title">Movilidades Académicas nacionales e internacionales</h4>
              <p class="card-category">Ofrecemos servicios todo incluido para la realización
                de misiones académicas, así mismo planeamos las visitas técnicas según su requerimiento.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>