<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title ">Usuarios</h4>
          <p class="card-category">Informacion de los usuarios</p>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Identificacion
                </th>
                <th>
                  Nombre
                </th>
                <th>
                  Apellido
                </th>
                <th>
                  Telefono
                </th>
                <th>
                  Correo
                </th>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</div>