<!--<body>
  <app-nav-menu></app-nav-menu>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</body>
-->

<body class="">
  <app-nav-menu></app-nav-menu>
  <div class="main-panel ps-container ps-theme-default" data-ps-id="201312ba-9927-5a4e-1672-744078c716d3">
    <div class="content">
      <div id= "contenedor"class="container-fluid">
       
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <style>
    *{
       background-color:rgb(228, 228, 228);
 }
 #contenedor{
   background-color:rgb(228, 228, 228);
 }
   </style>
  <!--   Core JS Files   -->
  
</body>