<div class="col-md-8 container">
  <div class="card">
    <div class="card-header card-header-primary">
      <h4 class="card-title">Registrar usuario</h4>
      <p class="card-category">Ingrese su informacion</p>
    </div>
    <div class="card-body">
      <form id="contenedor" [formGroup]="formGroup">
        <div class="row">
          <div class="col-md-5">
            <div class="form-group">
              <label class="bmd-label-floating">Identificacion</label>
              <input type="text" class="form-control" formControlName="identificacion"
              [ngClass]="{ 'is-invalid': control.identificacion.errors && control.identificacion.touched}"
              placeholder="Escriba aquí su identificación">
              <div *ngIf="control.identificacion.errors && control.identificacion.touched" class="invalid-feedback">
                <div *ngIf="control.identificacion.errors.required">Se require la identificacion</div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="bmd-label-floating">Primer nombre</label>
              <input type="text" class="form-control" formControlName="primerNombre"
              [ngClass]="{ 'is-invalid': control.primerNombre.errors && control.primerNombre.touched}"
              placeholder="Primer nombre">
              <div *ngIf="control.primerNombre.errors && control.primerNombre.touched" class="invalid-feedback">
                <div *ngIf="control.primerNombre.errors.required">Se require el primer nombre</div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="bmd-label-floating">Segundo Nombre</label>
              <input type="text" class="form-control" formControlName="segundoNombre" placeholder="Segundo nombre">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="bmd-label-floating">Primer apelllido</label>
              <input type="text" class="form-control"formControlName="primerApellido"
              [ngClass]="{ 'is-invalid': control.primerApellido.errors && control.primerApellido.touched}"
              placeholder="Primer apellido">
            <div *ngIf="control.primerApellido.errors && control.primerApellido.touched" class="invalid-feedback">
              <div *ngIf="control.primerApellido.errors.required">Se require el primer apellido</div>
            </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="bmd-label-floating">Segundo Apellido</label>
              <input type="text" class="form-control" formControlName="segundoAPellido"
              [ngClass]="{ 'is-invalid': control.segundoAPellido.errors && control.segundoAPellido.touched}"
              placeholder="Segundo apellido">
            <div *ngIf="control.segundoAPellido.errors && control.segundoAPellido.touched" class="invalid-feedback">
              <div *ngIf="control.segundoAPellido.errors.required">Se require el segundo apellido</div>
            </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="bmd-label-floating">Telefono</label>
              <input type="text" class="form-control" formControlName="telefono"
              [ngClass]="{ 'is-invalid': control.telefono.errors && control.telefono.touched}"
              placeholder="Escriba aquí su numero de celular">
            <div *ngIf="control.telefono.errors && control.telefono.touched" class="invalid-feedback">
              <div *ngIf="control.telefono.errors.required">Se require el numero de celular</div>
              <div *ngIf="control.telefono.errors.minlength">El numero de telefono especificado no es valido</div>
              <div *ngIf="control.telefono.errors.maxlength">El numero de telefono especificado no es valido</div>
            </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label class="bmd-label-floating">Correo electronico</label>
              <input type="email" class="form-control" formControlName="correoElectronico"
              [ngClass]="{ 'is-invalid': control.correoElectronico.errors && control.correoElectronico.touched}"
              aria-describedby="emailHelp" placeholder="Escriba aquí su correo electronico">
            <div *ngIf="control.correoElectronico.errors && control.correoElectronico.touched" class="invalid-feedback">
              <div *ngIf="control.correoElectronico.errors.required">Se require el correo electronico</div>
              <div *ngIf="control.correoElectronico.errors.email">El correo electronico especificado no es valido</div>
            </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="bmd-label-floating">Contraseña</label>
              <input type="text" class="form-control" formControlName="clave"
              [ngClass]="{ 'is-invalid': control.clave.errors && control.clave.touched}"
              placeholder="Escriba aqui su contraseña">
            <div *ngIf="control.clave.errors && control.clave.touched" class="invalid-feedback">
              <div *ngIf="control.clave.errors.required">Se require la contraseña</div>
              <div *ngIf="control.clave.errors.minlength">Se requiere un minimo de 6 digitos</div>
            </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="bmd-label-floating">Confirmar Contraseña</label>
              <input type="text" class="form-control"  formControlName="confirmacionClave"
              [ngClass]="{ 'is-invalid': control.confirmacionClave.errors && control.confirmacionClave.touched}"
              placeholder="Confirme la contraseña">
            <div *ngIf="control.confirmacionClave.errors && control.confirmacionClave.touched" class="invalid-feedback">
              <div *ngIf="control.confirmacionClave.errors.required">Se require la confirmacion</div>
              <div
                *ngIf="control.confirmacionClave.errors.claveDiferente && !control.confirmacionClave.errors.required">
                {{control.confirmacionClave.errors.messageError}}</div>
            </div>
            </div>
          </div>
        </div>
        <button type="button" id="btn-registro" class="btn  pull-right" (click)="onSubmit()"
        [disabled]="formGroup.invalid">Registrar</button>
        <button type="reset"  id="btn-cancelar" class="btn  pull-right">Cancelar</button>
        <div class="clearfix"></div>
      </form>
    </div>
  </div>
</div>